.details-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.details-outer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(72, 72, 166);
  color: #fff;
  height: 100%;
}

.details-p {
  padding: 1rem;
  background-color: rgb(78, 78, 195);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details-p:nth-child(odd) {
  background-color: rgb(97, 97, 222);
}

footer.details-footer {
  background-color: rgb(75, 75, 196);
  color: #fff;
  padding: 2rem;
}
